<zen-card [style]="{ width : '600px', display: 'block' }">
    <zen-card-header>
        <zen-card-title>Sandesh</zen-card-title>
        <zen-card-sub-title>Senior Software Engineer</zen-card-sub-title>
    </zen-card-header>
    <zen-card-body>
        <zen-card-content>
            <p>This is a first one</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum obcaecati fugiat porro voluptatum architecto ullam nam tempore dicta hic accusantium!</p>
        </zen-card-content>
    </zen-card-body>
    <zen-card-footer>
        <div style="display: flex; justify-content: end; margin-top:20px">
            <zen-button>Hi</zen-button>
        </div>
    </zen-card-footer>
</zen-card>