<zen-menubar>
    <zen-menubar-menu>
      <zen-menubar-trigger>File</zen-menubar-trigger>
      <zen-menubar-content>

        <zen-menubar-sub>
            <zen-menubar-sub-trigger>Share</zen-menubar-sub-trigger>
            <zen-menubar-sub-content>
              <zen-menubar-item>Email link</zen-menubar-item>
              <zen-menubar-item>Messages</zen-menubar-item>
              <zen-menubar-item>Notes</zen-menubar-item>
            </zen-menubar-sub-content>
          </zen-menubar-sub>

        <zen-menubar-item> New Tab <zen-menubar-shortcut>⌘T</zen-menubar-shortcut> </zen-menubar-item>
        <zen-menubar-item> New Window <zen-menubar-shortcut>⌘N</zen-menubar-shortcut> </zen-menubar-item>
        <zen-menubar-item disabled>New Incognito Window</zen-menubar-item>
        <zen-menubar-separator></zen-menubar-separator>
      
        <zen-menubar-separator></zen-menubar-separator>
      </zen-menubar-content>
    </zen-menubar-menu>
  
    <zen-menubar-menu>
      <zen-menubar-trigger>Edit</zen-menubar-trigger>
      <zen-menubar-content>
        <zen-menubar-item> Undo <zen-menubar-shortcut>⌘Z</zen-menubar-shortcut> </zen-menubar-item>
        <zen-menubar-item> Redo <zen-menubar-shortcut>⇧⌘Z</zen-menubar-shortcut> </zen-menubar-item>
        <zen-menubar-separator></zen-menubar-separator>
        <zen-menubar-sub>
          <zen-menubar-sub-trigger>Find</zen-menubar-sub-trigger>
          <zen-menubar-sub-content>
            <zen-menubar-item>Search the web</zen-menubar-item>
            <zen-menubar-separator></zen-menubar-separator>
            <zen-menubar-item>Find...</zen-menubar-item>
            <zen-menubar-item>Find Next</zen-menubar-item>
            <zen-menubar-item>Find Previous</zen-menubar-item>
          </zen-menubar-sub-content>
        </zen-menubar-sub>
        <zen-menubar-separator></zen-menubar-separator>
        <zen-menubar-item>Cut</zen-menubar-item>
        <zen-menubar-item>Copy</zen-menubar-item>
        <zen-menubar-item>Paste</zen-menubar-item>
      </zen-menubar-content>
    </zen-menubar-menu>
  
    <zen-menubar-menu>
      <zen-menubar-trigger>View</zen-menubar-trigger>
      <zen-menubar-content>
        <zen-menubar-separator></zen-menubar-separator>
        <zen-menubar-item>
          Reload <zen-menubar-shortcut>⌘R</zen-menubar-shortcut>
        </zen-menubar-item>
        <zen-menubar-item disabled>
          Force Reload <zen-menubar-shortcut>⇧⌘R</zen-menubar-shortcut>
        </zen-menubar-item>
        <zen-menubar-separator></zen-menubar-separator>
        <zen-menubar-item>Toggle Fullscreen</zen-menubar-item>
        <zen-menubar-separator></zen-menubar-separator>
        <zen-menubar-item>Hide Sidebar</zen-menubar-item>
      </zen-menubar-content>
    </zen-menubar-menu>
  
    <zen-menubar-menu>
      <zen-menubar-trigger>Profiles</zen-menubar-trigger>
      <zen-menubar-content>
        <zen-menubar-separator></zen-menubar-separator>
        <zen-menubar-item>Edit...</zen-menubar-item>
        <zen-menubar-separator></zen-menubar-separator>
        <zen-menubar-item>Add Profile...</zen-menubar-item>
      </zen-menubar-content>
    </zen-menubar-menu>
  </zen-menubar>
  