<p>zen-works</p>
<zen-dialog>
    <zen-dialog-header>
        <h5>Dialog</h5>
    </zen-dialog-header>
    <zen-dialog-body>

        <input type="text"  placeholder="Title">
        <input type="text"  placeholder="Title">

        <input type="text"  placeholder="Title">

    </zen-dialog-body>
    <zen-dialog-footer>
        <zen-button [size]="'sm'" (click)="confirm()">Confirm</zen-button>
        <zen-button [size]="'sm'" (click)="close()">Cancel</zen-button>    
    </zen-dialog-footer>
</zen-dialog>


