.header{
    display: flex;
    justify-content: space-between;
    padding: 4px;
    border-bottom: 2px solid #f1f1f1;
}

.nav-links{
    width: 500px;
    display: flex;
    justify-content: space-between;
}

